# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/

# Local auth / secrets
*.json
!pyproject.toml
!README.md
!LICENSE

# OS junk
.DS_Store
Thumbs.db
